* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: #131112;
	width: 100%;
	height: 75px;
	position: fixed;
}

ul > li {
	float: left;
	list-style: none;
	margin: 30px 20px;


}

a {
	text-decoration: none;
	color: #F7F7FF;
	font-family: 'Kreon', serif;
	font-size: 16px;
}


#web-header {
	height: 900px;
	width: 100%;
}

h1 {
	text-align: center;
	margin-left: 800px;
	margin-top: 20px;	
	font-size: 30px;
	position: fixed;
	color: #F7F7FF;
	font-family: 'Alice', serif;
}

.clear:after{
	content:"";
	display: block;
	clear: both;
}

.about {
	background-color: #131112;
	min-height: 200px;
	width: 100%;
	margin: 0 auto;
	color: #FFF9F7;
	padding: 50px;
	font-family: 'Abel', sans-serif;
}

p {
	margin: 20px;
	font-family: 'Jaldi', sans-serif;
}

.text-about {
	background-color: #7A818E;
	border-radius: 75px;
	border: 2px double white;
	margin-top: 20px;

}

.icon {
	height: 50px;
	width: 50px;
	margin-right: 10px;
	float: left;
	margin-bottom: 10px;
}